* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 60%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LAYOUT */
main {
  position: relative;
  width: 800px;
  height: 800px;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  background-color: cadetblue;
}

.player__0 {
  padding: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

.player__1 {
  padding: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

/* ELEMENTS */
.player__name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 2rem;
}

.player__score {
  font-size: 8rem;
  font-weight: 300;
  color: #c7365f;
  margin-bottom: auto;
}

.player__active {
  background-color: rgba(255, 255, 255, 0.4);
}
.player__active .player__name {
  font-weight: 700;
}
.player__active .player__score {
  font-weight: 400;
}

.player__active .current {
  opacity: 1;
}

.current {
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 40%;
  height: 35%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
  margin: auto;
}

.current__label {
  text-transform: uppercase;
  font-size: 1.7rem;
  color: #ddd;
}

.current__score {
  font-size: 3.5rem;
}

/*POSITIONED ELEMENTS */
.btn {
  position: absolute;
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn__new {
  top: 355px;
  left: 600px;
}
.btn__roll {
  top: 37rem;
  left: 4rem;
}

.btn__hold1 {
  top: 1rem;
  left: 36rem;
}

.btn__hold2 {
  bottom: 1rem;
  left: 35rem;
}

.btn:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.dice {
  position: absolute;
  top: 36rem;
  left: 36.6rem;
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.player__winner {
  background-color: #2f2f2f;
}

.player__winner .player__name {
  font-weight: 700;
  color: #c7365f;
}

.hidden {
  display: none;
}
